body {
    background-image: url("/images/cityscape2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.3; /* Adjust the opacity as needed */
    color: #fff;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header {
    margin-left: 20px;
    background-color: #7cff7c;
    padding: 10px;
    text-align: center;
  }

  .header h1 {
    margin: 0;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    width: 80%;
    margin-top: 20px;
  }  
  
  h1, h2, h3 {
    color: #ff8cff;
  }
  
  ul {
    list-style-type: square;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 9999;
    box-sizing: border-box;
  }
  
  .menu-button a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-header {
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
  }
  
  .navbar-header h1,
  .navbar-header h3 {
    margin: 0;
  }
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    white-space: nowrap;
  }
