.content{
    max-width: 1000px;
    margin:auto;
    background-color: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    color: rebeccapurple;
}
.tableiframe{
    max-width: 50%;
    height: auto;
    border:none;
}
.table {
    max-width: 500px;
    margin:auto;
    background-color: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
tr,th,td {
    height: 20%;
    width: 75%;
    border: 2px solid;
    /* text-indent: 5px; */
    text-align: center;
    border-collapse: collapse;
    border-color: lightgrey;
    background-color: #cfffff;
    border-radius: 5px;
}
caption{
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}