body {
  position: relative;
  overflow: hidden;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/cityscape.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7; /* Adjust the opacity value as desired */
  z-index: -1;
}

  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%;
  }
  
  .header {
    margin-left: 20px;
    background-color: #6af9fe;
    padding: 10px;
    text-align: center;
  }

  .header h1 {
    margin: 0;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 20px;
  }  
  
  h1, h3 {
    color:rgb(142, 1, 207);
  }

  h2 {
    color: #ff8cff;
  }
  
  ul {
    list-style-type: square;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 9999;
    box-sizing: border-box;
  }
  
  .menu-button a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-header {
    flex-grow: 1;
    text-align: left;
    margin-left: 10px;
  }
  
  .navbar-header h1,
  .navbar-header h3 {
    margin: 0;
  }
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    white-space: nowrap;
  }

.profile-picture {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 80px;
  background-image: url("/images/profile.png"); /* Replace with your profile picture image */
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}
